<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li *ngFor="let m of mainview.menu">
            <a class="nav-link" [routerLink]="m.name" >{{m.displayName}} <span class="sr-only">(current)</span></a>            
        </li>
    </ul>
  </div>
</nav>

<div [innerHtml]="mainview.content" style="display:flex; flex-direction:row; justify-content:center;"></div>
<router-outlet></router-outlet>